*{
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
    background-color: rgb(17, 16, 16);

}
.heading_style{
    padding: 30px 0;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    width: 100%;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(243, 54, 7);
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.cards{
    width: 100%;
    height: auto;
}
.card{
    margin: 3em;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: white;
    width: 17%;
    border-radius: 12px;
    box-shadow: 0px 13px 10px -7pz rgba(190, 231, 7, 0.884);
  
   float: left;

}
.card:hover{
    box-shadow: 0px 30px 18px-8px rgb(220, 248, 64);
    transform: scale(1.05,1.05);

}
.card__img{
    width: 100%;
    height: 255px;
    border-top-left-radius:12px ;
    border-top-right-radius:12px ;
}
.card__info{
    background-color:#fff;
    border-bottom-left-radius:12px ;
    border-bottom-right-radius:12px ;
    padding: 16px 24px 24px 24px;
    background-color: white;
}
.card__category{
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: rgb(167, 76, 76);
    background-color: whitesmoke;

}
.card__title{
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: sans-serif;
    background-color: white;
    text-transform: capitalize;
}
.button{
    padding: 6px 8px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
    color: rgb(248, 247, 244);
    background-color: rgb(235, 71, 43);
    outline: none;
    border: 1px solid rgb(14, 13, 13);
    cursor: pointer;
}
@media(max-width:930px){
    .cards{
       
       margin: 9%;

       width: 90%;
       
    }
    .card{
        display: flex;
        flex-direction: column;
        width: 230px;
        margin: 2%;
       
    }
}
